<table>
    <thead>
      <tr>
        <th style="text-align: center;" *ngFor="let head of headElements">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produitList; let i = index;">
        <td style="width: 20%;text-align: center;">{{produit.libelle | uppercase}}</td>
        <td style="width: 20%;text-align: center;">{{ produit.description | lowercase}}</td>
        <td style="width: 20%;text-align: center;">{{ produit.date|date:'d MMM y'}}</td>
        <th style="width: 20%;"><button class="btn btn-primary" (click)="deleteProduit(i)">Delete</button>
          <th style="width: 20%;"> <button class="btn btn-primary" (click)="updateProduit(i)"style="margin:auto">Update</button></th>

      </tr>
    </tbody>
  </table>
  