<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="(isLoggedIn | async)">
          <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="!(isLoggedIn | async)">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>  
        <li class="nav-item" *ngIf="!(isLoggedIn | async)">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item"*ngIf="(isLoggedIn | async)">
            <a class="nav-link" routerLink="/addProduit">Add Product</a>
          </li>
          <li class="nav-item"*ngIf="(isLoggedIn | async)">
            <a class="nav-link" routerLink="/listProduit">List Product</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn | async)" >
            <a class="nav-link" (click)="logout()">Disconnect</a>
          </li>     
      </ul>
 
    </div>
  </nav>