
  <div class="content" role="main">
  
    <!-- Highlight Card -->
  
  
    <div class="container-fluid">
  
      <h1> Update Form</h1>
      <form [formGroup]="userForm">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email">
          <div *ngIf="submitted  && formControls.email.errors">
            <span *ngIf="formControls.email.errors.required">This field is required</span>
            <span *ngIf="formControls.email.errors.email">This field is not a email address</span>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="submitted  && formControls.password.errors">
            <span *ngIf="formControls.password.errors.required">This field is required</span>
        </div>
        </div>
        <button *ngIf="index!=null" class="btn btn-primary" (click)="saveUpdate()"> Save Update</button>      
        </form>
    </div>
  
   
  
