<table>
    <thead>
      <tr>
        <th style="text-align: center;" *ngFor="let head of headElements">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let i = index;">
        <td style="width: 20%;text-align: center;">{{user.email}}</td>
        <td style="width: 20%;text-align: center;">{{ user.password}}</td>
        <th style="width: 60%;"><button class="btn btn-primary" (click)="deleteUser(i)">Delete</button>
          <button class="btn btn-primary" [routerLink]="['/update/',i]"style="margin:auto">Update</button></th>

      </tr>
    </tbody>
  </table>
  